/* Palete de cores */
:root {
    --primary-color: #754F44;
    --secondary-color: #EC7357;
    --detail-color: #e1ce7a;
    --text-color: #754F44;
    --button-color: #FDD692;
    --background-color: #FBFFB9;
    --font-size-large: 24px;
    --spacing: 16px;
  }

/* Resetando alguns estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Header default for every page */
header {
    height: 3rem;
    background-color: var(--primary-color); /* Substitui pelo marrom */
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: var(--font-size-large); /* Usa o tamanho definido */
    font-weight: bold;
    color: white /* Substitui pelo amarelo claro */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: var(--spacing); /* Espaçamento definido */
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white; /* Substitui pelo amarelo claro */
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.nav-links a.btn {
    background-color: var(--detail-color); /* Fundo amarelo claro */
    color: var(--primary-color); /* Texto marrom */
    padding: 8px 16px;
    border-radius: 5px;
    text-transform: uppercase;
}