/* Palete de cores */
:root {
    --primary-color: #754F44;
    --secondary-color: #EC7357;
    --detail-color: #e1ce7a;
    --text-color: #754F44;
    --button-color: #FDD692;
    --background-color: #FBFFB9;
    --font-size-large: 24px;
    --spacing: 16px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
    color : white
}

header {
    height: 3rem;
    background-color: var(--primary-color);
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.logo {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-large);
    font-weight: bold;
    color: white;
}

.logo .title {
    color: white;
    margin-top: 5px;
}

.logo-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: var(--spacing); 
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white; 
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.nav-links a.btn {
    background-color: var(--detail-color);
    color: var(--primary-color);
    padding: 8px 16px;
    border-radius: 5px;
    text-transform: uppercase;
}